<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body class="fix-header card-no-border logo-center">

<div id="main-wrapper">

	<header th:replace="~{layout/layout :: header}"></header>
	<aside th:replace="~{layout/layout :: aside}"></aside>

	<div class="page-wrapper">
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-themecolor" th:text="#{txt.datos.del.proveedores}"></h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)" th:href="@{/inventario/proveedores/}" th:text="#{txt.inicio}"></a></li>
					<li class="breadcrumb-item active" th:text="#{txt.datos.del.proveedores}"></li>
				</ol>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">

							<form id="formAddCliente" autocomplete="off" th:action="@{/inventario/proveedores/form/save}" th:object="${proveedores}" method="post">
								<div class="form-body">

									<div class="row p-t-20">
										<div class="col-md-2">
											<div class="form-group">
												<label class="control-label"><i class="fas fa-asterisk color-rojo"></i> [(#{txt.tipo.identificacion})]</label>
												<select class="form-control _select2_" th:field="*{tipoDeIdentificacion}" id="tipoDeIdentificacion" required="required">
													<option value="" selected="selected" th:text="#{txt.combo.seleccione}"></option>
													<option th:each="k : ${listaTipoDeIdentificacion}" th:value="${k.id}" th:text="${k.tipoDeIdentificacion}"></option>
												</select>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label class="control-label"><i class="fas fa-asterisk color-rojo"></i> [(#{txt.identificacion})]</label>

												<input th:if="${proveedores.tipoDeIdentificacion == null}" type="text" th:attr="maxlength=9" class="form-control num-integer" th:field="*{identificacion}" id="identificacion" required="required">
												<input th:if="${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id == 1}" type="text" th:attr="maxlength=9" class="form-control num-integer" th:field="*{identificacion}" id="identificacion" required="required">
												<input th:if="${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id == 2}" type="text" th:attr="maxlength=10" class="form-control num-integer" th:field="*{identificacion}" id="identificacion" required="required">
												<input th:if="${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id == 3}" type="text" th:attr="maxlength=12" class="form-control num-integer" th:field="*{identificacion}" id="identificacion" required="required">
												<input th:if="${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id == 4}" type="text" th:attr="maxlength=10" class="form-control num-integer" th:field="*{identificacion}" id="identificacion" required="required">
												<input th:if="${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id == 5}" type="text" th:attr="maxlength=20" class="form-control num-integer" th:field="*{identificacion}" id="identificacion" required="required">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label"><i class="fas fa-asterisk color-rojo"></i> [(#{txt.nombre.completo})]</label>
												<input type="text" maxlength="80" class="form-control" th:field="*{nombreCompleto}" required="required">
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.codigo.pais}"></label>
												<input type="text" maxlength="3" class="form-control num-integer" value="506" th:field="*{codigoPais}" id="codigoPais">
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.telefono1}"></label>
												<input th:attr="maxlength=${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id > 2 ?  20 : 8}" type="text" class="form-control num-integer" th:field="*{telefono1}" id="telefono1">
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.telefono2}"></label>
												<input type="text" th:attr="maxlength=${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id > 2 ?  20 : 8}" class="form-control num-integer" th:field="*{telefono2}" id="telefono2">
											</div>
										</div>

										<div class="col-md-2">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.fax}"></label>
												<input th:attr="maxlength=${proveedores.tipoDeIdentificacion != null && proveedores.tipoDeIdentificacion.id > 2 ?  20 : 8}" type="text" maxlength="8" class="form-control" th:field="*{fax}" id="fax">
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.apartado}"></label>
												<input type="text" maxlength="25" class="form-control" th:field="*{apartado}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.web}"></label>
												<input type="text" maxlength="25" class="form-control" th:field="*{web}">
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label" ><i class="fas fa-asterisk color-rojo"></i> [(#{txt.correo1})]</label>
												<input type="email" maxlength="150" class="form-control" th:field="*{correo1}" required="required">
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.correo2}"></label>
												<input type="email" maxlength="150" class="form-control" th:field="*{correo2}">
											</div>
										</div>

										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Actividades Económicas</label>
												<select class="form-control _select2_" id="actividadSelect" required="required">
													<option value="">Seleccione una actividad</option>
													<option th:each="k : ${listaActividades}" th:value="${k.codigoActividadEmisor}" th:text="${k.detalleActividad}"></option>
												</select>
											</div>
										</div>

										<div class="col-md-1" style="padding-top: 32px;">
											<button type="button" class="btn btn-primary btn-sm" id="btnAgregarActividad">
												<i class="fas fa-plus"></i> Agregar
											</button>
										</div>

									</div>

									<div id="actividadesContainer" class="row" style="margin-top: 20px;">
										<div class="col-md-12">
											<h5>Actividades Agregadas</h5>
											<table class="table table-sm table-bordered" id="actividadesTable">
												<thead>
												<tr>
													<th>Código</th>
													<th>Descripción</th>
													<th>Acción</th>
												</tr>
												</thead>
												<tbody id="actividadesBody">
												</tbody>
											</table>
										</div>
									</div>

									<hr>

									<h5 th:text="#{txt.datos.ubicacion.opcionales}"></h5>

									<div class="row">

										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.provincia}"></label>
												<select class="form-control _select2_" th:field="*{provincia}" id="provincia">
													<option th:value="''" selected="selected" th:text="#{txt.combo.seleccione}"></option>
													<option th:each="k : ${listaProvincias}" th:value="${k.id}" th:text="${k.provincia}"></option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.canton}"></label>
												<select class="form-control _select2_" th:field="*{canton}" id="canton">
													<option th:each="k : ${listaCantones}" th:value="${k.id}" th:text="${k.canton}"></option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.distrito}"></label>
												<select class="form-control _select2_" id="distrito" th:field="*{distrito}">
													<option th:each="k : ${listaDistritos}" th:value="${k.id}" th:text="${k.distrito}"></option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.barrio}"></label>
												<select class="form-control _select2_" id="barrio" th:field="*{barrio}">
													<option th:each="k : ${listaBarrios}" th:value="${k.id}" th:text="${k.barrio}"></option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label" th:text="#{txt.direccion}"></label>
												<input type="text" class="form-control" maxlength="255" th:field="*{otrasSenas}">
											</div>
										</div>

									</div>

									<div  class="form-actions">

										<p class="color-rojo"><i class="fas fa-asterisk color-rojo"></i> [(#{txt.campos.requeridos})]</p>

										<button type="submit" class="btn btn-success">
											<i class="fas fa-save"></i>&nbsp;<span th:text="#{btn.guardar}"></span>
										</button>
										<a th:href="@{/inventario/proveedores/}" class="btn btn-inverse" style="color:#FFF !important">
											<i class="fas fa-chevron-left"></i>&nbsp; <span th:text="#{txt.btn-regresar}"></span>
										</a>
									</div>

								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

		<footer th:replace="~{layout/layout :: footer}"></footer>
		<input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</div>

</div>
<div th:replace="~{layout/layout :: scripts}"></div>
<script type="text/javascript">
	var token = $('#csrfToken').val();
	var actividadesSeleccionadas = [];

	$(document).on('click', '#btnAgregarActividad', function() {
		var codigo = $('#actividadSelect').val();
		var texto = $('#actividadSelect option:selected').text();

		if (!codigo) {
			swal("Error", "Seleccione una actividad", "warning");
			return;
		}

		if (actividadesSeleccionadas.find(a => a.codigo === codigo)) {
			swal("Error", "Esta actividad ya fue agregada", "warning");
			return;
		}

		actividadesSeleccionadas.push({codigo: codigo, texto: texto});

		var row = '<tr><td>' + codigo + '</td><td>' + texto + '</td><td><button type="button" class="btn btn-danger btn-sm btn-eliminar" data-codigo="' + codigo + '"><i class="fas fa-trash"></i></button></td></tr>';
		$('#actividadesBody').append(row);
		$('#actividadSelect').val('');
	});

	$(document).on('click', '.btn-eliminar', function() {
		var codigo = $(this).data('codigo');
		actividadesSeleccionadas = actividadesSeleccionadas.filter(a => a.codigo !== codigo);
		$(this).closest('tr').remove();
	});

	$(document).on('change', '#tipoDeIdentificacion', function () {
		var v = $(this).val();
		$("#identificacion").val("");

		if(v != ""){
			$("#identificacion").removeAttr("disabled");
		}else{
			$("#identificacion").attr("disabled", true);
		}

		if(v == "1"){
			$("#identificacion").attr('maxlength','9');
			$("#telefono1").attr('maxlength','8');
			$("#telefono2").attr('maxlength','8');
			$("#fax").attr('maxlength','8');
		}else if(v == "2"){
			$("#identificacion").attr('maxlength','10');
			$("#telefono1").attr('maxlength','8');
			$("#telefono2").attr('maxlength','8');
			$("#fax").attr('maxlength','8');
		}else if(v == "4"){
			$("#identificacion").attr('maxlength','10');
			$("#telefono1").attr('maxlength','20');
			$("#telefono2").attr('maxlength','20');
			$("#fax").attr('maxlength','20');
		}else if(v == "5"){
			$("#identificacion").attr('maxlength','20');
			$("#telefono1").attr('maxlength','20');
			$("#telefono2").attr('maxlength','20');
			$("#fax").attr('maxlength','20');
		}else{
			$("#identificacion").attr('maxlength','12');
			$("#identificacion").removeClass("iden_fisica");
			$("#identificacion").removeClass("iden_juridica");
			$("#telefono1").attr('maxlength','20');
			$("#telefono2").attr('maxlength','20');
			$("#fax").attr('maxlength','20');
		}

		if ($(this).val() != "") {
			$(".error").fadeOut();
			return false;
		}
	});

	$("#formAddCliente").submit(function( event ) {
		var v = parseInt($("#tipoDeIdentificacion").val());
		var i = $("#identificacion").val();

		if(v === 1){
			if(i.length != 9){
				swal({
					text: "¡La "Cédula física" debe de contener 9 dígitos, sin cero al inicio y sin guiones!",
					button: { text: "Aceptar" },
					icon: "warning",
					closeModal: false
				}).then(function() { swal.close(); $("#identificacion").focus(); });
				return false;
			}
		}else if(v === 2){
			if(i.length != 10){
				swal({
					text: "¡La "cédula de personas Jurídicas" debe contener 10 dígitos y sin guiones!",
					button: { text: "Aceptar" },
					icon: "warning",
					closeModal: false
				}).then(function() { swal.close(); $("#identificacion").focus(); });
				return false;
			}
		}else if(v === 4){
			if(i.length != 10){
				swal({
					text: "¡El "Documento de Identificación de la DGT (NITE)" debe contener 10 dígitos y sin guiones!",
					button: { text: "Aceptar" },
					icon: "warning",
					closeModal: false
				}).then(function() { swal.close(); $("#identificacion").focus(); });
				return false;
			}
		}

		var tel1 = $("#telefono1").val();
		var tel2 = $("#telefono2").val();
		var fax  = $("#fax").val();
		var cp   = $("#codigoPais").val();

		if(tel1.length > 0 || tel2.length > 0 || fax.length > 0){
			if(cp.length > 0){
				if(tel1.length != 8){
					if(v === 1 || v === 2){
						swal({
							text: "¡El número de teléfono debe contener 8 dígitos, sin espacios y sin guiones!",
							button: { text: "Aceptar" },
							icon: "warning",
							closeModal: false
						}).then(function() { swal.close(); $("#telefono1").focus(); });
						return false;
					}
				}
				if(tel2 != ""){
					if(tel2.length != 8){
						if(v === 1 || v === 2){
							swal({
								text: "¡El número de teléfono debe contener 8 dígitos, sin espacios y sin guiones!",
								button: { text: "Aceptar" },
								icon: "warning",
								closeModal: false
							}).then(function() { swal.close(); $("#telefono2").focus(); });
							return false;
						}
					}
				}
			}else{
				swal({
					text: "¡Al incluir un número telefónico, el código de país será requerido, debe completarlo.!",
					button: { text: "Aceptar" },
					icon: "warning",
					closeModal: false
				}).then(function() { swal.close(); $("#codigoPais").focus(); });
				return false;
			}
		}

		if (actividadesSeleccionadas.length === 0) {
			swal({
				text: "¡Debe agregar al menos una actividad económica!",
				button: { text: "Aceptar" },
				icon: "warning",
				closeModal: false
			}).then(function() { swal.close(); });
			return false;
		}

		var actividadesInput = '<input type="hidden" name="actividadesSeleccionadas" value="' + actividadesSeleccionadas.map(a => a.codigo).join(',') + '">';
		$(this).append(actividadesInput);

		$.ajax({
			type: "POST",
			cache: false,
			beforeSend: function () { loadingShow(); },
			url: "[(@{/inventario/proveedores/form/save})]",
			data: $(this).serialize(),
			success: function (data) {
				if(parseInt(data.response) === 1){
					location.href="[(@{/inventario/proveedores/})]"
				}else if(parseInt(data.response) === 0){
					location.href="[(@{/})]"
				}else{
					swal("","La identificación del proveedor o el correo 1 ya existen, debe cambiarlo","warning");
				}
			},
			complete: function () { loadingHide(); },
			error: function (x, t, m) {
				if (t === "timeout") {} else {}
			}
		});

		return false;
	});

	$(document).on("change","#provincia", function(e){
		e.preventDefault();
		$.ajax({
			type: "POST",
			cache: false,
			url: "[(@{/ubicacion/cantones})]",
			data: {id:$(this).val(), _csrf:token},
			success: function (data) {
				$("#canton").html(data);
				$('#canton').select2('open');
			}
		});
	});

	$(document).on("change","#canton", function(e){
		e.preventDefault();
		$.ajax({
			type: "POST",
			cache: false,
			url: "[(@{/ubicacion/distritos})]",
			data: {id:$(this).val(), _csrf:token},
			success: function (data) {
				$("#distrito").html(data);
				$('#distrito').select2('open');
			}
		});
	});

	$(document).on("change","#distrito", function(e){
		e.preventDefault();
		$.ajax({
			type: "POST",
			cache: false,
			url: "[(@{/ubicacion/barrios})]",
			data: {id:$(this).val(), _csrf:token},
			success: function (data) {
				$("#barrio").html(data);
				$('#barrio').select2('open');
			}
		});
	});

</script>

</body>
</html>